a {
  border-radius: 10px;
  padding-top: 4px;
  text-decoration: none;
}
.user-activites {
  display: flex;
  justify-content: space-evenly;
  background: rgb(231 231 231);
  height: 10vh;
  font-weight: bolder;
}
