.logo {
  position: absolute;
  width: 15vh;
  margin: 10px;
}
// .welcome-flights {
//   height: 100vh;
//   background-image: url("../src/img/pexels-pascal-renet-1089306.jpg");
//   background-repeat: no-repeat;
//   background-size: 100%;
// }
